<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/home.css">
    <link rel="shortcut icon" type="imagex/png" href="img/LOGO - VERDE 480PX.png">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-10905950507"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'AW-10905950507');
    </script>
    <title>Agência Upgrade</title>
</head>
<body>
    <header>
        <nav class="menu">
            <a href="#">HOME</a>
            <a href="#">SOBRE NÓS</a>
            <a href="#">SERVIÇOS</a>
            <a href="#">ORÇAMENTOS</a>
            <a href="#">PORTIFÓLIO</a>
            <a href="#">CONTATO</a>
            <img src="img/LOGO - VERDE 480PX.png" alt="" class="logo-menu">
        </nav>
    </header>

    <main>
        <section class="imagem-fundo">
            <img src="#" alt="" class="logo">
            <h1 class="titulo-home">Faça parte do grupo de empresas que estão elevando seu nível, 
                de maneira simples, eficaz e com qualidade.
            </h1>
            <button class="btn-contato">Entrar em contato</button>
            <div class="container-logo">
                <img src="img/UPGRADE AGENCIA DIGITAL.png" alt="" class="logo-texto">
            </div>
        </section>

        <section class="sobre-nos">
            <h2 class="titulo-sobre">SOBRE NÓS</h2>
            <h3 class="slogan-sobre">Elevamos o nível do seu negócio</h3>
            <p class="texto-sobre">Nosso objetivo é te ajudar a elevar o nível do seu negócio, através de um posicionamento digital. 
                Seja ele, por meio de tráfego pago, social media, web design, design gráfico 
                ou qualquer outro serviço que oferecemos.
                Vamos dar um upgrade?
            </p>
            <button class="btn-comecar">Começar agora</button>
            <img src="#" alt="" class="img-up">
        </section>

        <section class="servicos">
            <h2 class="titulo-servicos">SERVIÇOS</h2>
            <div class="linha-1">
                <div class="id-visual">
                    <img src="img/icon-id.svg" alt="" class="icone-servicos">
                    <h4 class="titulo-jobs">IDENTIDADE VISUAL</h4>
                </div>

                <div class="design">
                    <img src="img/icon-design.svg" alt="" class="icone-servicos">
                    <h4 class="titulo-jobs">DESIGN GRÁFICO</h4>
                </div>

                <div class="dashboard">
                    <img src="img/icon-dashboards.svg" alt="" class="icone-servicos">
                    <h4 class="titulo-jobs">DASHBOARDS E RELATÓRIOS</h4>
                </div>
            </div>

            <div class="linha-2">
                <div class="sites">
                    <img src="img/icon-sites.svg" alt="" class="icone-servicos">
                    <h4 class="titulo-jobs">SITES E SISTEMAS WEB</h4>
                </div>

                <div class="social-media">
                    <img src="img/icon-social.svg" alt="" class="icone-servicos">
                    <h4 class="titulo-jobs">SOCIAL MEDIA</h4>
                </div>

                <div class="trafego">
                    <img src="img/icon-trafego.svg" alt="" class="icone-servicos">
                    <h4 class="titulo-jobs">TRÁFEGO PAGO</h4>
                </div>
            </div>
            
        </section>

        <section class="orcamentos">
            <h2 class="titulo-orcamentos">ORÇAMENTOS</h2>
            <div class="calendly-inline-widget" data-url="https://calendly.com/contato-upgradeagc?text_color=1e1e1e&primary_color=73ea00" style="min-width:320px;"></div>
            <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
        </section>

        <section class="portifolio">
            <h2 class="titulo-portifolio">PORTIFÓLIO</h2>
            <div>
               
            </div>
        </section>

        <section class="contato">
            <h2 class="titulo-contato">CONTATO</h2>
            <form action="/enviarform" method="post" class="formulario-contato">
                <input type="text" placeholder="Nome" name="nome" autocomplete="off">
                <input type="tel" placeholder="Telefone" name="telefone" autocomplete="off">
                <input type="email" placeholder="E-mail" name="email" autocomplete="off">
                <input type="text" placeholder="Assunto" name="assunto" autocomplete="off">
                <div class="container-enviar"><button>Enviar</button></div>
            </form>
            <img src="#" alt="" class="logo-formulario">
        </section>
    </main>

    <footer>
        <div class="links-menu">
            <a href="#">HOME</a>
            <a href="#">SOBRE NÓS</a>
            <a href="#">SERVIÇOS</a>
            <a href="#">ORÇAMENTOS</a>
            <a href="#">PORTIFÓLIO</a>
            <a href="#">CONTATO</a>
        </div>

        <img src="img/LOGO HORIZONTAL - VERDE E BRANCO 400PX.png" alt="" class="logo-rodape">

        <div class="dados-rodape">
            <p>AGÊNCIA UPGRADE</p>
            <P>CNPJ: EM BREVE</P>
        </div>
    </footer> 
</body>
</html>